body { background-color: black; }

body.loggedIn .showloggedOut { display:none; }
body:not(.loggedIn) .showloggedIn { display:none; }

.panel-heading button {
    position: absolute;
    top: 5px;
    right: 21px;
}
