---
layout: splash
title: Flickerstrip
description: Take control of your lights. Flickerstrip lets you set the mood, create your own light show, or 
navigation:
    exclude: true
author: Julian Hartline
---

<div class="featureBoxes">
	<div class="featureBox">
		<div class="imageHolder">
			<img src="/resources/images/featureIcons/wifi.png" />
		</div>
		<div>Control LED strips with your phone or computer via WiFi</div>
	</div>
	
	<div class="featureBox">
		<div class="imageHolder">
			<img src="/resources/images/featureIcons/paintpallet.png" class="invert"/>
		</div>
		<div>Configure existing patterns or create your own</div>
	</div>
	
	<div class="featureBox">
		<div class="imageHolder">
			<img src="/resources/images/featureIcons/terminal.png"/>
		</div>
		<div>Leverage a powerful API to script your own behavior</div>
	</div>
</div>


{% comment %}
{% for post in site.posts %}
	{% if post.categories contains 'news' %}
		<h2>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
		<a href="{{ post.url }}">read more..</a>
		<br/>
		<br/>
	{% endif %}
	
	{% if post.categories contains 'blog' %}
		<h2 class="blog">{{ post.date | date_to_string }} - Blog: <a href="{{ post.url }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
		<a href="{{ post.url }}">read more..</a>
		<br/>
		<br/>
	{% endif %}
{% endfor %}

{% endcomment %}