---
layout: splash
title: Flickerstrip
description: Flickerstrip is the smart LED light strip that you can upload custom patterns to via WiFi
navigation:
    exclude: true
author: Julian Hartline
---

<div class="tagline glow">
	Create your own light show, just the way you want it
	<span>
		Flickerstrip is the first consumer light strip that lets you control each pixel individually to create beautiful decorations with light.
		<br/>
		<br/>
		Try the <a href="/lightwork/">lightwork designer</a> out for yourself!
	</span>
</div>

<div class="featureBoxes">
	<div class="featureBox">
		<div class="imageHolder">
			<img src="/resources/images/featureIcons/wifi.png" />
		</div>
		<div>Control LED strips with your phone or computer via WiFi</div>
	</div>
	
	<div class="featureBox">
		<div class="imageHolder">
			<img src="/resources/images/featureIcons/paintpallet.png" class="invert"/>
		</div>
		<div>Configure existing patterns or create your own</div>
	</div>
	
	<div class="featureBox">
		<div class="imageHolder">
			<img src="/resources/images/featureIcons/terminal.png"/>
		</div>
		<div>Leverage a powerful API to script your own behavior</div>
	</div>
</div>

<div class="photos">
	<div>
		<span>Decorate your life with vibrant colors</span>
		<img class="showcase glow" src="/resources/images/photos/coiltwinkle.png">
	</div>
	<div>
		<span>Control every pixel to create patterns with your own personal touch</span>
		<img class="showcase glow" src="/resources/images/photos/ssbuild.png">
	</div>
	
	<div>
		<span>Share your patterns and download popular patterns shared by others</span>
		<img class="showcase glow" src="/resources/images/photos/ssdownload.png">
	</div>
</div>


{% comment %}
{% for post in site.posts %}
	{% if post.categories contains 'news' %}
		<h2>{{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
		<a href="{{ post.url }}">read more..</a>
		<br/>
		<br/>
	{% endif %}
	
	{% if post.categories contains 'blog' %}
		<h2 class="blog">{{ post.date | date_to_string }} - Blog: <a href="{{ post.url }}">{{ post.title }}</a></h2>
		{{ post.excerpt }}
		<a href="{{ post.url }}">read more..</a>
		<br/>
		<br/>
	{% endif %}
{% endfor %}

{% endcomment %}
