<!-- Pricing Tables Section -->
<section id="PricingTables" class="smoked-bg">
    <div class="container">
        <div class="title txt-center">
            <h1>Pricing</h1>
            <div class="doux-icon-divider"></div>
            <h4>Take a Look at our Professional Prices</h4>
        </div>
        <div class="row pricing">
            <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-offset-0 col-md-4">
                <div class="plan txt-center">
                    <div class="plan-header">
                        <h3>Lite Plan</h3>
                        <div class="col-md-2 col-md-offset-5 hr-line"></div>
                        <h1>$15<span>per month</span></h1>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Unlimited Access</li>
                            <li>Free Tokens</li>
                            <li>5 E-mail Accounts</li>
                            <li>Free Support</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="#" class="action-btn">Sign Up Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-offset-0 col-md-4">
                <div class="plan txt-center selected">
                    <div class="plan-header">
                        <h3>Special Plan</h3>
                        <div class="col-md-2 col-md-offset-5 hr-line"></div>
                        <h1>$20<span>per month</span></h1>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Unlimited Access</li>
                            <li>Unlimited Tokens & Features</li>
                            <li>15 E-mail Accounts</li>
                            <li>Free Support via Phone</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="#" class="gold-btn">Sign Up Now</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-offset-0 col-md-4">
                <div class="plan last txt-center">
                    <div class="plan-header">
                        <h3>Pro Plan</h3>
                        <div class="col-md-2 col-md-offset-5 hr-line"></div>
                        <h1>$30<span>per month</span></h1>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li>Unlimited Access</li>
                            <li>Free Tokens</li>
                            <li>25 E-mail Accounts</li>
                            <li>Free Support</li>
                        </ul>
                    </div>
                    <div class="plan-footer">
                        <a href="#" class="action-btn">Sign Up Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Pricing Tables Section -->
