<!-- Latest News Section -->
<section id="LatestNews" class="no-ver-padding parallax background-image2">
    <div class="overlay-bg inner-wrapper">
        <div class="container">
            <div class="title light txt-center">
                <h1>Latest News</h1>
                <div class="doux-icon-divider"></div>
                <h4>Read More about our Activities</h4>
            </div>
            <div class="row news-posts">
                <div class="col-xs-12 col-md-4">
                    <div class="news-post">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="n-post-date txt-center"><span>18</span><span>July</span></div>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="n-post-details">
                                    <a href="#"><h4>Tofu selfies skateboard freegan, lo-fi Brooklyn</h4></a>
                                    <p>hambray four loko wayfarers, crucifix Pinterest quinoa Austin try-hard mlkshk PBR pop-up mixtape actually bespoke Marfa. Tote bag asymmetrical Marfa brunch gastropub gluten-free...
                                        <a href="#" class="n-more">[ read more ]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="news-post">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="n-post-date txt-center"><span>09</span><span>May</span></div>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="n-post-details">
                                    <a href="#"><h4>Messenger bag actually occupy polaroid leggings, PBR</h4></a>
                                    <p>Salvia McSweeney's ugh, beard literally meditation bicycle rights normcore drinking vinegar trust fund kogi skateboard wolf next level single-origin coffee...
                                        <a href="#" class="n-more">[ read more ]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="news-post">
                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                <div class="n-post-date txt-center"><span>22</span><span>Feb</span></div>
                            </div>
                            <div class="col-xs-9 col-md-9">
                                <div class="n-post-details">
                                    <a href="#"><h4>Polaroid master cleanse single</h4></a>
                                    <p>Gentrify McSweeney's High Life typewriter pug synth, PBR DIY migas lo-fi wolf. Etsy umami keffiyeh pickled, yr meh fashion axe iPhone crucifix dreamcatcher wayfarers chambray irony Godard. Chambray Pinterest swag, scenester taxidermy bespoke post-ironic...
                                        <a href="#" class="n-more">[ read more ]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 txt-center"><a href="#" class="gold-btn">Read All Posts</a></div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest News Section -->
