<!-- Footer Sections -->
<section id="Footer" class="no-bottom-padding">
    <div class="container">
        <div class="title light">
            <h1>Contact Us</h1>
            <div class="doux-icon-divider"></div>
            <h4>We'd love to hear from you</h4>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="row">
                        <div class="col-md-9">
                            <ul class="contact-details">
                                <li><i class="fa fa-map-marker"></i>PO Box 43
                                    <br>Millbrae, 94030
                                    <br>United States.</li>
                                <li><i class="fa fa-phone"></i>+1 (888) 327-2835</li>
                                <li><i class="fa fa-mobile-phone"></i><a href="#">julian@flickerstrip.com</a></li>
                            </ul>
                            <div class="folow-us">
                                <h5>Follow Us</h5>
                                <ul class="footer-social">
                                    <li><a href="http://facebook.com/flickerstrip"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://twitter.com/flickerstrip"><i class="fa fa-twitter"></i></a></li>
                                    <!--
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <!--
                    <div class="row">
                        <div class="contact-form">
                            <form action="#" id="contact" name="contact">
                                <div class="col-md-6">
                                    <input type="text" name="name" placeholder="Your Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="email" placeholder="E-mail">
                                </div>
                                <div class="col-md-12">
                                    <textarea rows="3" name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit"  class="gold-btn">Submit</button>
                                </div>
                                <div class="col-md-9">
                                    <div id="success" class="contact-message success">
                                        <p>Your message was sent succssfully!<br>We will contact you soon.</p>
                                    </div>
                                    <div id="error" class="contact-message error">
                                        <p>Something went wrong, try refreshing and submitting the form again.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="copyright txt-center">
            <a href="/press.html">Press kit</a> | <a href="/privacy.html">Privacy Policy</a>
            <br/>
			&copy; {{ site.time | date: "%Y" }} {{ site.companyname }}, Inc. All Rights Reserved
        </div>
    </div>
</section>
<!-- / Footer Sections -->
