<!-- Our Services Section -->
<section id="OurServices" class="no-ver-padding parallax background-image1">
    <div class="container overlay-bg inner-wrapper extra-padding">
        <div class="title light txt-center">
            <h1>Our Services</h1>
            <div class="doux-icon-divider"></div>
            <h4>Order Now and Get a Special Gift</h4>
        </div>
        <div class="col-xs-12 col-md-6 service srv-left">
            <div class="service-icon">
                <span><i class="icon icon-DSLRCamera"></i></span>
            </div>
            <h1>Photography</h1>
            <p>Flannel Thundercats tofu keytar, drinking vinegar locavore tattooed fingerstache PBR put a bird on it fashion axe Kickstarter. Chambray four loko wayfarers, crucifix Pinterest quinoa Austin try-hard mlkshk PBR pop-up mixtape actually bespoke Marfa. Tote bag asymmetrical Marfa brunch gastropub gluten-free. Tofu selfies skateboard freegan, lo-fi Brooklyn Echo Park photo booth tousled Williamsburg meggings Austin cred DIY.</p>
        </div>
        <div class="col-xs-12 col-md-6 service srv-right">
            <div class="service-icon">
                <span><i class="icon icon-Bulb"></i></span>
            </div>
            <h1>Branding & Logo Design</h1>
            <p>Flannel Thundercats tofu keytar, drinking vinegar locavore tattooed fingerstache PBR put a bird on it fashion axe Kickstarter. Chambray four loko wayfarers, crucifix Pinterest quinoa Austin try-hard mlkshk PBR pop-up mixtape actually bespoke Marfa. Tote bag asymmetrical Marfa brunch gastropub gluten-free. Tofu selfies skateboard freegan, lo-fi Brooklyn Echo Park photo booth tousled Williamsburg meggings Austin cred DIY.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 service srv-center">
            <div class="service-icon">
                <span><i class="icon icon-Web"></i></span>
            </div>
            <h1>Web Design & Development</h1>
            <p>Flannel Thundercats tofu keytar, drinking vinegar locavore tattooed fingerstache PBR put a bird on it fashion axe Kickstarter. Chambray four loko wayfarers, crucifix Pinterest quinoa Austin try-hard mlkshk PBR pop-up mixtape actually bespoke Marfa. Tote bag asymmetrical Marfa brunch gastropub gluten-free. Tofu selfies skateboard freegan, lo-fi Brooklyn Echo Park photo booth tousled Williamsburg meggings Austin cred DIY.</p>
        </div>
        <div class="col-md-12 txt-center">
            <a href="#" class="gold-btn">Order a Service</a>
        </div>
    </div>
</section>
<!-- / Our Services Section -->
