<!-- Clients & Testmonials Section -->
<section id="Clients" class="no-bottom-padding smoked-bg">
    <div class="container-fluid">
        <div class="title txt-center">
            <h1>Clients & Testimonials</h1>
            <div class="doux-icon-divider"></div>
            <h4>See what our customers say about our services</h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <div class="col-xs-12 col-md-12 col-lg-11 pull-right clients">
                    <div class="col-xs-6 col-md-6 client"><img src="images/clients/client-1-white.png" alt="Client-Photo"></div>
                    <div class="col-xs-6 col-md-6 client"><img src="images/clients/client-4-white.png" alt="Client-Photo"></div>
                    <div class="col-xs-6 col-md-6 client"><img src="images/clients/client-3-white.png" alt="Client-Photo"></div>
                    <div class="col-xs-6 col-md-6 client"><img src="images/clients/client-2-white.png" alt="Client-Photo"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7 testmonials-bg">
                <div class="col-md-12 col-lg-11">
                    <div class="testmonial-carousel">
                        <div class="testmonial-item">
                            <div class="testmonial">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
                                        <div class="testmonial-photo">
                                            <img src="images/testmonials/testmonial-1.jpg" alt="Client-Photo">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-3 col-md-3 testmonial-details">
                                        <h5>M. Baghagho</h5>
                                        <p>UX Designer, 7oroof</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
                                        <div class="testmonial-quote">
                                            <p>“ Venture business plan deployment client angel investor. Monetization assets incubator. Bandwidth market alpha conversion disruptive channels. ”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testmonial">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
                                        <div class="testmonial-photo">
                                            <img src="images/testmonials/testmonial-2.jpg" alt="Client-Photo">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-3 col-md-3 testmonial-details">
                                        <h5>A. Essam</h5>
                                        <p>Art Director, Google</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
                                        <div class="testmonial-quote">
                                            <p>“ Series A financing release hackathon bandwidth. Business plan gamification investor analytics direct mailing business model canvas partnership MVP return on investment. ”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testmonial-item">
                            <div class="testmonial">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
                                        <div class="testmonial-photo">
                                            <img src="images/testmonials/testmonial-2.jpg" alt="Client-Photo">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-3 col-md-3 testmonial-details">
                                        <h5>A. Essam</h5>
                                        <p>Art Director, Google</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
                                        <div class="testmonial-quote">
                                            <p>“ Series A financing release hackathon bandwidth. Business plan gamification investor analytics direct mailing business model canvas partnership MVP return on investment. ”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testmonial">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
                                        <div class="testmonial-photo">
                                            <img src="images/testmonials/testmonial-1.jpg" alt="Client-Photo">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-3 col-md-3 testmonial-details">
                                        <h5>M. Baghagho</h5>
                                        <p>UX Designer, 7oroof</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
                                        <div class="testmonial-quote">
                                            <p>“ Venture business plan deployment client angel investor. Monetization assets incubator. Bandwidth market alpha conversion disruptive channels. ”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testmonial-item">
                            <div class="testmonial">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
                                        <div class="testmonial-photo">
                                            <img src="images/testmonials/testmonial-1.jpg" alt="Client-Photo">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-3 col-md-3 testmonial-details">
                                        <h5>M. Baghagho</h5>
                                        <p>UX Designer, 7oroof</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
                                        <div class="testmonial-quote">
                                            <p>“ Venture business plan deployment client angel investor. Monetization assets incubator. Bandwidth market alpha conversion disruptive channels. ”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testmonial">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
                                        <div class="testmonial-photo">
                                            <img src="images/testmonials/testmonial-2.jpg" alt="Client-Photo">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-3 col-md-3 testmonial-details">
                                        <h5>A. Essam</h5>
                                        <p>Art Director, Google</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
                                        <div class="testmonial-quote">
                                            <p>“ Series A financing release hackathon bandwidth. Business plan gamification investor analytics direct mailing business model canvas partnership MVP return on investment. ”</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Clients & Testmonials Section -->
