<!-- Video Background Section -->
<section id="VideoBackground" class="no-ver-padding">
    <div class="video-background" style="width: 100%; height: 550px;">
        <div class="video-overlay txt-center video-overlay-bg">
            <h1>Video Background Support</h1>
            <div class="video-controls"><a href="https://vimeo.com/45830194" class="play popup-video"><i class="icon icon-Play"></i></a></div>
            <h4>Take a Look Right Now!</h4>
        </div>
    </div>
</section>
<!-- / Video Background Section -->
