<!-- Meet Our Team Section -->
<section id="OurTeam" class="smoked-bg">
    <div class="container">
        <div class="title txt-left">
            <h1>Meet Our Team</h1>
            <div class="doux-icon-divider"></div>
            <h4>We have a bunch of creative people</h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="member-block">
                    <div class="member-photo">
                        <img src="images/team/member_1.png" alt="Member-Photo">
                    </div>
                    <div class="member-details">
                        <div class="member-title">
                            <h4>John Doe</h4>
                            <p>Creative Director</p>
                        </div>
                        <div class="member-contact">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="member-block">
                    <div class="member-photo">
                        <img src="images/team/member_2.png" alt="Member-Photo">
                    </div>
                    <div class="member-details">
                        <div class="member-title">
                            <h4>Mohamed Habaza</h4>
                            <p>Senior UX Research</p>
                        </div>
                        <div class="member-contact">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="member-block">
                    <div class="member-photo">
                        <img src="images/team/member_3.png" alt="Member-Photo">
                    </div>
                    <div class="member-details">
                        <div class="member-title">
                            <h4>Mark Doe</h4>
                            <p>Designer</p>
                        </div>
                        <div class="member-contact">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="join-team">
                    <a href="#" class="reverse-btn"><span>Join Our Team</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Meet Our Team Section -->
