<!-- About Us Section -->
<section id="AboutUs">
    <div class="container">
        <div class="title txt-center">
            <h1>Flickerstrip</h1>
            <div class="doux-icon-divider"></div>
            <h4>The first Wi-Fi LED strip that lets you control each pixel</h4>
            <h4>Check out the successful <a href="https://www.kickstarter.com/projects/hohmbody/flickerstrip-create-your-own-personal-light-show">Kickstarter campaign</a>.</h4>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <p>
                    Flickerstrip is the LED light strip that lets you upload custom, animated patterns or <b>Lightworks</b>. Unlike other light strips that can only display a single color at a time, Flickerstrip can independently color each pixel.
                </p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>
                    Use the smartphone app to control your lights, browse uploaded Lightworks, or build your own from scratch using the intuitive graphical interface. Share your best patterns to let others enjoy your LED artwork.
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="introduction">
                    <a href="https://youtu.be/l3Qsa87IUmw" class="reverse-btn popup-video"><span>Watch Introduction</span></a>
                </div>
            </div>
        </div>
        <!--
        <div class="row stats" id="stats" data-appear-top-offset="-1200">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="state">
                    <div class="state-count"><span data-from="0" data-to="105">0</span></div>
                    <div class="state-details">
                        <h5 class="state-title">Cups of Tea</h5><i class="fa fa-coffee state-icon"></i></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="state">
                    <div class="state-count"><span data-from="0" data-to="18">0</span></div>
                    <div class="state-details">
                        <h5 class="state-title">Happy Clients</h5><i class="fa fa-smile-o state-icon"></i></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="state">
                    <div class="state-count"><span data-from="0" data-to="36">0</span></div>
                    <div class="state-details">
                        <h5 class="state-title">Awesome Projects</h5><i class="fa fa-suitcase state-icon"></i></div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="state">
                    <div class="state-count"><span data-from="0" data-to="5">0</span></div>
                    <div class="state-details">
                        <h5 class="state-title">Awards Win</h5><i class="fa fa-diamond state-icon"></i></div>
                </div>
            </div>
        </div>
        -->
    </div>
</section>
<!-- / About Us Section -->
