<!-- Our Services Section -->
<section id="Features" class="no-ver-padding parallax background-image1">
    <div class="container overlay-bg inner-wrapper extra-padding">
        <div class="title light txt-center">
            <h1>Features</h1>
            <div class="doux-icon-divider"></div>
            <h4>The LED strip has evolved</h4>
        </div>
        <div class="col-xs-12 col-md-6 service srv-left">
            <div class="service-icon">
                <span><i class="icon icon-Antenna1"></i></span>
            </div>
            <h1>Connects to your home</h1>
            <p>
                A quick setup process connects Flickerstrip to your Wi-Fi network making it easy to take control
            </p>
        </div>
        <div class="col-xs-12 col-md-6 service srv-right">
            <div class="service-icon">
                <span><i class="icon icon-Bulb"></i></span>
            </div>
            <h1>16M Colors</h1>
            <p>
                Control each pixel independently with a palette of one of 16 million colors for smooth transitions
            </p>
        </div>
        <div class="col-xs-12 col-md-6 service srv-left">
            <div class="service-icon">
                <span><i class="icon icon-Edit"></i></span>
            </div>
            <h1>Build your own patterns</h1>
            <p>
                Choose one of the many premade patterns or build your own unique patterns from scratch with the graphical interface
            </p>
        </div>
        <div class="col-xs-12 col-md-6 service srv-right">
            <div class="service-icon">
                <span><i class="icon icon-WorldWide"></i></span>
            </div>
            <h1>Connect and share</h1>
            <p>
                Browse through patterns submitted by other users or upload your own light creations for all to see
            </p>
        </div>
        <div class="col-xs-12 col-md-6 service srv-left">
            <div class="service-icon">
                <span><i class="icon icon-Planet"></i></span>
            </div>
            <h1>Cross-platform</h1>
            <p>
                Use the app from your desktop or phone with apps for Windows, OSX, Android, iOS, and Linux
            </p>
        </div>
        <div class="col-xs-12 col-md-6 service srv-right">
            <div class="service-icon">
                <span><i class="icon icon-MusicMixer"></i></span>
            </div>
            <h1>Synchronize the show</h1>
            <p>
                Configure multiple strips and create groups to create a synchronized show
            </p>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 service srv-center">
            <div class="service-icon">
                <span><i class="icon icon-Web"></i></span>
            </div>
            <h1>Lightwork Designer</h1>
            <p>
                The key element of the Flickerstrip app is the powerful Lightwork Designer interface that lets you build your own custom patterns from scratch using a graphical interface. Adjust the repetition, frame rate, and colors and then let your creativity take over as you paint your own light creations.
            </p>
        </div>
        <div class="col-md-12 txt-center">
            <a href="/lightwork/" class="gold-btn">Try the Lightwork Designer online</a>
        </div>
    </div>
</section>
<!-- / Our Services Section -->
