<header class="pageHeader">
    <div class="container">
    	<div class="header-logo">
            <a href="/">
            	<img src="/resources/images/flickerstriplogo2.png" />
                Flickerstrip
            </a>
        </div>
        
        {% comment %}
        <div class="row">
            <div class="col-md-12">
               	<div class="header-nav">
		            {% include navigation.html %}
		            <!--<a href="http://store.reflowster.com/products/reflowster" class="ordernow">Order Now</a>-->
	            </div>
            </div>
        </div>
        {% endcomment %}
    </div>
</header>