<!-- Header -->
<header class="mainHeader sticky">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-2 navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-navicon"></i>
                </button>
                <a href="/" class="navbar-brand logo">
                     
                </a>
            </div>
            <div class="col-sm-12 col-md-10">
                <div class="mainMenu navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <!-- Social Icons -->
                    <ul class="socialIcons hidden-sm hidden-xs">
                        <li><a href="http://facebook.com/flickerstrip"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://twitter.com/twitter"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                    <!-- / Social Icons -->
                    <!-- Navigation -->
                    <nav id="mainMenu" class="navigation">
                        <ul class="nav navbar-nav" role="tablist">
                            <li class="active"><a href="#mainWrapper">Home</a></li>
                            <li><a href="#AboutUs">About</a></li>
                            <li><a href="#Features">Features</a></li>
                            <li><a href="#Photos">Photos</a></li>
                            <li><a href="#Footer">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- / Navigation -->
                    <a href="http://store.hohmbody.com" class="navigation gold-btn">Pre-order now</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- / Header -->
