<div class="company media" itemscope itemtype="http://schema.org/Corporation">
    <img alt="The Flickerstrip Logo" class="img" itemprop="image" src="/resources/images/logo_blackgb_rounded_corners.png">
    <div class="bd">
		<span itemprop="name">Flickerstrip</span>
		
    	{% include legacy_contacticons.html %}
		
		<span itemprop="description">Flickerstrip is the Wi-Fi light strip that lets you upload custom, animated works of light from your smartphone.</span>
	    <link itemprop="url" href="http://flickerstrip.com">
		</div>
	</div>
</div>
