@import "flexbox.less";

//////////////////////////////////
.mbtn {
    display: inline-block;
    background-color: #0000ff;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 3px 7px;
}

.mbtn:hover {
    background-color: #3366ff;
}

.mbtn.file {
    position: relative;
    input {
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left:0;
        border: 1px solid red;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.flexone {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.flexExpandContent {
    .flex-display;
    >* {
        .flex(1 1 auto);
    }
}

.sp-palette-container {
    width:22px;
}

.sp-button-container {
    display: none;
}

.sp-container.sp-light {
    background-color: white;
    border: solid 1px #ddd;
    padding: 0;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.75);
}

.block {
    background: black;
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.metricsPanel {
    label {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1px 4px;
        margin: 2px 5px;
    }
}

.patternControls {
    .flex-display;
    .justify-content(flex-start);
    .align-items(center);
    .flex-direction(row);

    margin-bottom: 3px;

    input {
        width: 45px;
        font-size: 12px;
        border: none;
        height: 20px;
        text-align: right;
    }

    .right {
        .flex(1 1 auto);
        text-align: right;
    }

    .controls {
        .flex(0 0 auto);
        .flex-display;
        .flex-direction(row);
        .align-items(center);
    }

    .current {
        .flex(0 0 auto);
        padding: 1px;
        border: 1px solid #ddd;
        border-radius: 3px;

        .sp-replacer {
            background: none;
            border: none;
        }
        .sp-preview {
            height:17px;
            margin-right: 0;
        }
        .sp-dd {
            display: none;
        }
    }

    .palette {
        .flex(1 1 auto);
        margin: 0px 3px;
        margin-left: 10px;

		.paletteRow {
			display: inline-block;
			line-height: 0;
		}

        .color {
			line-height: 0;
			display: inline-block;
            width: 20px;
            height: 20px;
            margin: 2px;
            padding: 0;
            border: 1px solid #666;
        }
    }
}

.metricsPanel {
    label {
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1px 4px;
        margin: 2px 5px;
    }
}

.patternEditor {
    height: 100%;
    .flex-display();
    .flex-direction(column);
    >* {
        .flex(0 0 auto);
    }

    .editorcontainer {
        .flex(1 1 auto);
        .flexExpandContent;
    }
}

html, body {
    margin: 0;
    height: 100%;
}

