---
layout: empty
---

<div class="splash">
	{% comment %}
	<a href="https://www.kickstarter.com/projects/reflowster/reflowster-soldering-controller-for-surface-mount" class="kickstarterbadge">
		<img alt='Funded with Kickstarter' src="/resources/images/kickstarter-badge-funded.png" />
	</a>
	{% endcomment %}
	
	<div class="text-over">
		Configure your own custom patterns, lighting effects, and mood lighting.
		<span>Flickerstrip, the first addressable WiFi LED strip, lets you create your own colorful LED art from scratch.</span>
	</div>
	
	<div class="splash-subscribe-form">
		Coming soon to Kickstarter. Don't miss out, subscribe: 
		{% include subscribeform.html %}
	</div>
</div>

<div class="body">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	{{ content }}
			</div>
		</div>
	</div>
</div>
