---
layout: empty
---

<div class="splash">
	{% comment %}
	<a href="https://www.kickstarter.com/projects/reflowster/reflowster-soldering-controller-for-surface-mount" class="kickstarterbadge">
		<img alt='Funded with Kickstarter' src="/resources/images/kickstarter-badge-funded.png" />
	</a>
	{% endcomment %}
	
	<div class="youtube firstlookVideo" width="560" height="315" data-youtubeid="SN5VDPl2nCE" data-bg="/resources/images/flickerstrip_logo_frame.png"></div>
</div>

<div class="body">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	{{ content }}
			</div>
		</div>
	</div>
</div>
