<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.titletagline }}</title>
        <meta name="Description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{{ site.url }}{{ page.fbimage | default:'/resources/images/FlickerstripFBShare.png' }}"/>
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:description" content="{{ page.description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="fb:app_id" content="{{ site.fb_appid }}"/>
        <meta property="fb:admins" content="{{ site.fb_admins }}"/>
        <link rel="icon" href="/flickerstrip/resources/images/icons/favicon_16.png" />
        <link rel="me" href="https://twitter.com/flickerstrip">

        <link rel="stylesheet" href="/flickerstrip/resources/css/reset.css">
        
        <script src="/flickerstrip/resources/js/jquery.js"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/flickerstrip/resources/bootstrap/css/bootstrap.css">
        <script type="text/javascript" src="/flickerstrip/resources/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/flickerstrip/resources/script.js"></script>
        
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Orbitron:400,900' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="/flickerstrip/resources/css/syntax.css">
        <link rel="stylesheet" href="/flickerstrip/resources/css/global.css">
        <link rel="stylesheet" href="/flickerstrip/resources/css/icons.css">
        
	    {% include analytics.html %}
	    
		{% if page.custom_head %}
			{{ page.custom_head }}
		{% endif %}
    </head>
    <body>
    <div id="fb-root"></div>
    	<!-- Facebook SDK -->
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','//connect.facebook.net/en_US/fbevents.js');
		
		fbq('init', '1548229575495047');
		fbq('track', "PageView");</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1548229575495047&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
		
		{{ content }}
		
		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56a72764676db853" async="async"></script>
    </body>
</html>

