---
layout: empty
---

<div class="splash">
	{% comment %}
	<a href="https://www.kickstarter.com/projects/reflowster/reflowster-soldering-controller-for-surface-mount" class="kickstarterbadge">
		<img alt='Funded with Kickstarter' src="/flickerstrip/resources/images/kickstarter-badge-funded.png" />
	</a>
	
		<span>
			<ul>
			<li>Connects to your home Wi-Fi network
			<li>Choose from pre-built patterns or build your own
			<li>Powerful API allows you to integrate lighting control into any project!
			</ul>
		</span> 
	{% endcomment %}
	
	<div class="text-over">
		Use your phone or computer to configure your own custom patterns, lighting effects, and mood lighting.
		<span>Flickerstrip connects to your Wi-Fi network and allows you to configure and upload prebuilt patterns
		or create your own colorful LED art from scratch.</span>
	</div>
</div>

<div class="body">
	<div class="container">
	    <div class="row">
	        <div class="col-md-9">
	        	{{ content }}
			</div>
	        <div class="col-md-3">
				{% include sidebar.html %}
			</div>
		</div>
	</div>
</div>
