---
layout: empty
---

<div class="splash">
    <div class="splashinner">
        <h1>The Flickerstrip <img class="inlinegraphic" src="/resources/images/kickstarter-logo-dark.png"> <a href='https://www.kickstarter.com/projects/hohmbody/flickerstrip-create-your-own-personal-light-show?utm_source=flickerstrip&utm_medium=site&utm_campaign=homepage_link'>campaign is live</a>!</h1>
        {% include shareprompt.html %}
    </div>
</div>

<div class="body">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	{{ content }}
			</div>
		</div>
	</div>
</div>
